# R stuff
*.Rhistory
*.RData

# Quarto/RMarkdown cache and auxiliary files
*_files/
libs/ # for html dependencies
*.html
*.png
*.pdf
*.docx
*.pptx
.quarto/
cache/
*.aux
*.out
*.toc
*.snm
*.nav
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# Logs
*.log

# Data folders
data/
output/

# OS junk
.DS_Store
Thumbs.db